echo "node_modules/" > .gitignore
echo ".env" >> .gitignore
echo "*.exe" >> .gitignore
echo "*.out" >> .gitignore-e "\n# Compiled C++ binaries\ncodes/*.out" 
-e "\n# Compiled C++ binaries\ncodes/*.out" 
